
a {
    color: aqua;
    font-family: url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
}
a:hover{
    color: white;
    text-decoration: none;
}
img {
    border-style: double;
    border-color: aqua;
    border-radius: 100px;
}
#profile{
    border-style: double;
    border-color: aqua;
}
#heading{
    width: 96%;
    border-style: double;
    border-color: aqua;
    border-radius: 10px;
    background-color: rgba(0, 255, 149, 0.6);
    background-image: linear-gradient(to right, rgba(0, 17, 255, 0.651), rgba(0, 195, 255, 0.5)); 
    color:rgb(0, 195, 255);
    column-count: 4;
    align-content: center;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
#nav {
    padding: 25px;
    width: 95%;
    margin: auto;
    background-image: linear-gradient(to right, rgba(0, 17, 255, 0.651), rgba(0, 195, 255, 0.5)); 
    border-style: double;
    border-color: aqua;
    border-radius: 50px;
    margin-bottom: 30px;
    column-count: 6;
    column-gap: 0px;
    text-align: center;
    font-family: 'techmono';
    font-size: 30px;
    font-weight: bolder;
}
#navitem1{
    font-size: 25px;
    border-right-style: double;
    border-color: aqua;
}
#navitem2{
    font-size: 25px;
    border-right-style: double;
    border-color: aqua;
}
#navitem3{
    font-size: 25px;
    border-right-style: double;
    border-color: aqua;
}
#navitem4{
    font-size: 25px;
    border-right-style: double;
    border-color: aqua;
}
#navitem5{
    font-size: 25px;
    border-right-style: double;
    border-color: aqua;
}
#navitem6{
    font-size: 25px;
    border-color: aqua;
}
#summary{
    margin-top: 20px;
    background-image: linear-gradient(to right, rgba(0, 17, 255, 0.651), rgba(0, 195, 255, 0.5)); 
    border-style: double;
    border-color: aqua;
    border-radius: 100px;
    width: 75%;
    color: aqua;
    margin: auto;
    margin-bottom: 20px;
}
#profile{
    border-style: none;
    margin-top: 40px;
}
#summarytext {
    margin: auto;
    width: 70%;
    font-family: "nasa";
}
#skills {
    columns: 4;
    width: 100%;
    font-size: 10px;
    padding-bottom: 40px;
}

@font-face 
    {
        font-family: "nasa";
        src: url("assets/nasa.ttf");
    }
  @font-face 
    {
        font-family: "techmono";
        src: url("assets/digital.ttf");
    }
    @media (max-width: 600px)
    {
        #skills{
            font-size: 10px;
        }
    }

  @media (max-width: 900px) 
    {
        #nav{
            column-count: 3;
        }
        #navitem1{
            border-style: double;
            margin-bottom: 20px;
            margin-right: 20px;
            border-radius: 50px;
            padding: 10px;
        }
        #navitem2{
            border-style: double;
            margin-right: 20px;
            border-radius: 50px;
            padding: 10px;
        }
        #navitem3{
            border-style: double;
            margin-bottom: 20px;
            margin-right: 10px;
            border-radius: 50px;
            padding: 10px;
        }
        #navitem4{
            border-style: double;
            margin-right: 10px;
            border-radius: 50px;
            padding: 10px;
        }
        #navitem5{
            border-style: double;
            margin-bottom: 20px;
            margin-left: 10px;
            border-radius: 50px;
            padding: 10px;
        }
        #navitem6{
            border-style: double;
            margin-left: 10px;
            border-radius: 50px;
            padding: 10px;
        }
        #skills{
            columns: 2;
        }
    }

  @media (min-width: 900px) {
      #skills{
          columns: 3;
          font-size: 10px;
      }
  }