
a {
    color: aqua;
    font-family: url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
}
a:hover{
    color: #f705ae;
    text-decoration: none;
}

#heading{
    width: 96%;
    border-style: double;
    border-color: aqua;
    border-radius: 10px;
    background-color: rgba(0, 255, 149, 0.6);
    background-image: linear-gradient(to right, rgba(0, 17, 255, 0.651), rgba(248, 10, 169, 0.5)); 
    color:rgb(0, 195, 255);
    column-count: 4;
    align-content: center;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
#nav {
    padding: 25px;
    width: 95%;
    margin: auto;
    background-image: linear-gradient(to right, rgba(0, 17, 255, 0.651), rgba(252, 7, 219, 0.5)); 
    border-style: double;
    border-color: aqua;
    border-radius: 50px;
    margin-bottom: 30px;
    column-count: 3;
    column-gap: 0px;
    text-align: center;
    font-family: 'LasEnter';
    font-size: 30px;
    font-weight: bolder;
}
#navitem1{
    font-size: 25px;
    border-right-style: double;
    border-color: aqua;
    font-family: 'LasEnter';
}
#navitem2{
    font-size: 25px;
    border-right-style: double;
    border-left-style: double;
    border-color: aqua;
}

#summary{
    margin-top: 20px;
    background-image: linear-gradient(to right, rgba(0, 17, 255, 0.8), rgba(255, 0, 191, 0.5)); 
    border-style: double;
    border-color: aqua;
    border-radius: 100px;
    width: 75%;
    color: aqua;
    margin: auto;
    margin-bottom: 20px;
}
#profile{
    border-style: none;
    margin-top: 40px;
}
#summarytext {
    margin: auto;
    width: 70%;
    font-family: "beon";
    font-size: 20px;
    text-align: center;
}
#skills {
    columns: 4;
    width: 100%;
    font-size: 10px;
    padding-bottom: 40px;
}

    @font-face 
    {
        font-family: "LasEnter";
        src: url("fonts/LasEnter.ttf");
    }
    @font-face 
    {
        font-family: "beon";
        src: url("fonts/Beon.otf");
    }